@charset 'UTF-8';

#drink
{
	height:70px;
	width:150px;
	background-color: #4CAF50; /* Green */
	font-size: 18px; 
    font-weight: bold;
}	

#breakfast
{
	height:70px;
	width:150px;
	background-color: #FFFF00; /* Yellow */
	font-size: 18px; 
    font-weight: bold;
}	

#lunch
{
	height:70px;
	width:150px;
	background-color: #CC0000; /* Red */
	font-size: 18px; 
    font-weight: bold;
}	

#candy
{
	height:70px;
	width:150px;
	background-color: #0080ff; /* Blue */
	font-size: 18px; 
    font-weight: bold;
}	

#button
{
	height:70px;
	width:150px;
}	

#enters{
	height:70px;
	width:305px;
	font-size: 18px; 
    font-weight: bold;

}

#admin{
	height:70px;
	width:615px;
	background-color: #000000; 
	color:#FFFFFF;
	font-size: 18px; 
    font-weight: bold;
}

#buttondiv{
	float:left;
}

#log {
	float:left;
	text-align: left;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 18px; 
}

#admintot {
	float:left;
	text-align: left;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

