@charset 'UTF-8';

#button
{
	height:70px;
	width:100px
}	

#buttondiv{
	float:left;
}

#log {
	float:left;
	text-align: left;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#admintot {
	float:left;
	text-align: left;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

